<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tsp.FacturacionElectronica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <applicationSettings>
    <Tsp.FacturacionElectronica.Properties.Settings>
      <setting name="PATH" serializeAs="String">
        <value>C:\data0\facturador\DATA</value>
      </setting>
      <setting name="RUC" serializeAs="String">
        <value>20455108757</value>
      </setting>
      <setting name="TIPO_ENVIO_INDIVIDUAL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FORMA_ENVIO_FACTURADOR_SUNAT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MODO_ENVIO_MANUAL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PATH_FIRMA" serializeAs="String">
        <value>C:\data0\facturador\DATA</value>
      </setting>
      <setting name="CodigoTipoOperacionVentaInterna" serializeAs="String">
        <value>01</value>
      </setting>
    </Tsp.FacturacionElectronica.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="SigescomEntities" connectionString="metadata=res://*/SigescomModel.csdl|res://*/SigescomModel.ssdl|res://*/SigescomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mi3-wsq2.a2hosting.com ;initial catalog=tsolperu_sigescom_dev;persist security info=True;user id=tsolperu_admin1;password=Tsp_admin$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SigescomEntities_" connectionString="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_sigescom_dev;User Id=tsolperu_admin1;Password=Tsp_admin$1;" providerName="System.Data.SqlClient" />
    <add name="SigescomAccount" connectionString="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_account_dev;User Id=tsolperu_admin1;Password=Tsp_admin$1;" providerName="System.Data.SqlClient" />
    <add name="FacturacionEntities" connectionString="metadata=res://*/AccesoDatos.FacturacionElectronicaModel.csdl|res://*/AccesoDatos.FacturacionElectronicaModel.ssdl|res://*/AccesoDatos.FacturacionElectronicaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mi3-wsq2.a2hosting.com;initial catalog=tsolperu_sigescom_efactura;user id=tsolperu_admin1;password=Tsp_admin$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EBooksDB" connectionString="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_ebook;User Id=tsolperu_ebook_admin1;Password=Tsp_admin$1;" providerName="System.Data.SqlClient" />
    <add name="EBooksEntities" connectionString="metadata=res://*/EBooksModel.csdl|res://*/EBooksModel.ssdl|res://*/EBooksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mi3-wsq2.a2hosting.com;initial catalog=tsolperu_ebook;user id=tsolperu_admin1;password=Tsp_admin$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdentificacionEntities" connectionString="metadata=res://*/AccesoDatos.IdentificacionModel.csdl|res://*/AccesoDatos.IdentificacionModel.ssdl|res://*/AccesoDatos.IdentificacionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mi3-wsq2.a2hosting.com;initial catalog=tsolperu_identifica;user id=tsolperu_admin1;password=Tsp_admin$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>