<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://calidaillatopa.tsolperu.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mi3-wss5.a2hosting.com</MSDeployServiceURL>
    <DeployIisAppPath>calidaillatopa.tsolperu.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>mi3-wss5\tsolperu</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FacturacionEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_efactura_calidaillatopa;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tsp.FacturacionElectronica.AccesoDatos.FacturacionEntities, Tsp.FacturacionElectronica" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SigescomEntities_" Order="3" Enabled="False">
          <Destination Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_principal_calidaillatopa;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_principal_calidadmarkos;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SigescomEntities__IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_principal_calidadmarkos;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SigescomEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_principal_calidaillatopa;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_principal_calidadmarkos;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SigescomEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SigescomModel.csdl|res://*/SigescomModel.ssdl|res://*/SigescomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mi3-wsq2.a2hosting.com;initial catalog=tsolperu_siges_principal_calidadmarkos;persist security info=True;user id=tsolperu_admin0;password=Tsp_admin$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EBooksEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_ebook_calidaillatopa;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_ebook_calidadmarkos;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EBooksEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EBooksModel.csdl|res://*/EBooksModel.ssdl|res://*/EBooksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mi3-wsq2.a2hosting.com;initial catalog=tsolperu_siges_ebook_calidadmarkos;persist security info=True;user id=tsolperu_admin0;password=Tsp_admin$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EBooksDB" Order="6" Enabled="False">
          <Destination Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_ebook_calidaillatopa;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_ebook_calidadmarkos;User ID=tsolperu_admin0;Password=Tsp_admin$1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EBooksDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_ebook_calidadmarkos;User Id=tsolperu_admin0;Password=Tsp_admin$1;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IdentificacionEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tsp.ApiIdentificacion.AccesoDatos.IdentificacionEntities, Tsp.ApiIdentificacion" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SigescomAccount" Order="8" Enabled="False">
          <Destination Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_seguridad_calidaillatopa;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tsp.Sigescom.WebApplication.Models.ApplicationDbContext, Tsp.Sigescom.WebApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EBooksDB-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_ebook_calidaillatopa;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EBooksEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>metadata=res://*/EBooksModel.csdl|res://*/EBooksModel.ssdl|res://*/EBooksModel.msl;provider=System.Data.SqlClient;provider connection string="data source=mi3-wsq2.a2hosting.com;initial catalog=tsolperu_siges_ebook_calidaillatopa;persist security info=True;user id=tsolperu_admin0;password=Tsp_admin$1;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FacturacionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AccesoDatos.FacturacionElectronicaModel.csdl|res://*/AccesoDatos.FacturacionElectronicaModel.ssdl|res://*/AccesoDatos.FacturacionElectronicaModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_efactura_calidaillatopa;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="IdentificacionEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SigescomAccount-Web.config Connection String">
      <ParameterValue>Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_seguridad_calidaillatopa;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SigescomEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SigescomModel.csdl|res://*/SigescomModel.ssdl|res://*/SigescomModel.msl;provider=System.Data.SqlClient;provider connection string="data source=mi3-wsq2.a2hosting.com;initial catalog=tsolperu_siges_principal_calidaillatopa;persist security info=True;user id=tsolperu_admin0;password=Tsp_admin$1;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SigescomEntities_-Web.config Connection String">
      <ParameterValue>Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_siges_principal_calidaillatopa;Persist Security Info=True;User ID=tsolperu_admin0;Password=Tsp_admin$1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>