<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://calidadhlobo.sigescomercial.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>162.246.23.77</MSDeployServiceURL>
    <DeployIisAppPath>calidadhlobo.sigescomercial.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>calidadhlobo_dploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentificacionEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_identifica_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_identifica_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentificacionEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/AccesoDatos.IdentificacionModel.csdl|res://*/AccesoDatos.IdentificacionModel.ssdl|res://*/AccesoDatos.IdentificacionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_identifica_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FacturacionEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_efactura_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_efactura_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FacturacionEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/AccesoDatos.FacturacionElectronicaModel.csdl|res://*/AccesoDatos.FacturacionElectronicaModel.ssdl|res://*/AccesoDatos.FacturacionElectronicaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_efactura_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SigescomEntities_" Order="3" Enabled="False">
          <Destination Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_principal_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_principal_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SigescomEntities__IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_principal_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SigescomEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_principal_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_principal_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SigescomEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SigescomModel.csdl|res://*/SigescomModel.ssdl|res://*/SigescomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.246.23.77;initial catalog=tsolperu_siges_principal_calidadmarkos;persist security info=True;user id=sigescom_tsp;password=Tsp_sigescom$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SigescomAccount" Order="5" Enabled="False">
          <Destination Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_seguridad_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_seguridad_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SigescomAccount_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_seguridad_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EBooksEntities" Order="6" Enabled="False">
          <Destination Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_ebook_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_ebook_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EBooksEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EBooksModel.csdl|res://*/EBooksModel.ssdl|res://*/EBooksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.246.23.77;initial catalog=tsolperu_siges_ebook_calidadmarkos;persist security info=True;user id=sigescom_tsp;password=Tsp_sigescom$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EBooksDB" Order="7" Enabled="False">
          <Destination Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_ebook_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_ebook_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EBooksDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_ebook_calidadmarkos;Persist Security Info=True;User ID=sigescom_tsp;Password=Tsp_sigescom$1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SigescomEntities_-Web.config Connection String">
      <ParameterValue>Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_principal_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SigescomEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SigescomModel.csdl|res://*/SigescomModel.ssdl|res://*/SigescomModel.msl;provider=System.Data.SqlClient;provider connection string="data source=162.246.23.77;initial catalog=tsolperu_siges_principal_calidadhlobo;user id=sigescom_tsp;password=Tsp_sigescom$1;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SigescomAccount-Web.config Connection String">
      <ParameterValue>Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_seguridad_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="IdentificacionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AccesoDatos.IdentificacionModel.csdl|res://*/AccesoDatos.IdentificacionModel.ssdl|res://*/AccesoDatos.IdentificacionModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_identifica_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FacturacionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AccesoDatos.FacturacionElectronicaModel.csdl|res://*/AccesoDatos.FacturacionElectronicaModel.ssdl|res://*/AccesoDatos.FacturacionElectronicaModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_efactura_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EBooksEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EBooksModel.csdl|res://*/EBooksModel.ssdl|res://*/EBooksModel.msl;provider=System.Data.SqlClient;provider connection string="data source=162.246.23.77;initial catalog=tsolperu_siges_ebook_calidadhlobo;user id=sigescom_tsp;password=Tsp_sigescom$1;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EBooksDB-Web.config Connection String">
      <ParameterValue>Data Source=162.246.23.77;Initial Catalog=tsolperu_siges_ebook_calidadhlobo;User ID=sigescom_tsp;Password=Tsp_sigescom$1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>