<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>192.168.1.190/Sigescom</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.1.190</MSDeployServiceURL>
    <DeployIisAppPath>Sigescom</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>CAJA</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SigescomAccount" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tsp.Sigescom.WebApplication.Models.ApplicationDbContext, Tsp.Sigescom.WebApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FacturacionEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tsp.FacturacionElectronica.AccesoDatos.FacturacionEntities, Tsp.FacturacionElectronica" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SigescomEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mi3-wsq2.a2hosting.com;Initial Catalog=tsolperu_sigescom_dev;Persist Security Info=True;User ID=tsolperu_admin;Password=Tsp_admin$1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SigescomEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SigescomModel.csdl|res://*/SigescomModel.ssdl|res://*/SigescomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mi3-wsq2.a2hosting.com ;initial catalog=tsolperu_sigescom_dev;persist security info=True;user id=tsolperu_admin;password=Tsp_admin$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FacturacionEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SigescomAccount-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SigescomEntities-Web.config Connection String" />
  </ItemGroup>
</Project>