$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?c19588818ab0d62751436e5c0b0680c4") format("truetype"),
url("./flaticon.woff?c19588818ab0d62751436e5c0b0680c4") format("woff"),
url("./flaticon.woff2?c19588818ab0d62751436e5c0b0680c4") format("woff2"),
url("./flaticon.eot?c19588818ab0d62751436e5c0b0680c4#iefix") format("embedded-opentype"),
url("./flaticon.svg?c19588818ab0d62751436e5c0b0680c4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "check-out": "\f101",
    "hotel": "\f102",
    "check-in-desk": "\f103",
    "luggage-cart": "\f104",
    "hotel-1": "\f105",
    "bed": "\f106",
    "do-not-disturb": "\f107",
    "sleep": "\f108",
    "slumber": "\f109",
    "calendar": "\f10a",
    "household": "\f10b",
    "bedroom": "\f10c",
    "broom": "\f10d",
);

.flaticon-check-out:before {
    content: map-get($flaticon-map, "check-out");
}
.flaticon-hotel:before {
    content: map-get($flaticon-map, "hotel");
}
.flaticon-check-in-desk:before {
    content: map-get($flaticon-map, "check-in-desk");
}
.flaticon-luggage-cart:before {
    content: map-get($flaticon-map, "luggage-cart");
}
.flaticon-hotel-1:before {
    content: map-get($flaticon-map, "hotel-1");
}
.flaticon-bed:before {
    content: map-get($flaticon-map, "bed");
}
.flaticon-do-not-disturb:before {
    content: map-get($flaticon-map, "do-not-disturb");
}
.flaticon-sleep:before {
    content: map-get($flaticon-map, "sleep");
}
.flaticon-slumber:before {
    content: map-get($flaticon-map, "slumber");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-household:before {
    content: map-get($flaticon-map, "household");
}
.flaticon-bedroom:before {
    content: map-get($flaticon-map, "bedroom");
}
.flaticon-broom:before {
    content: map-get($flaticon-map, "broom");
}
